{% extends "base.html" %}

{% block title %} Page Des Articles {% endblock title %}

{% block content %}

<div class="centered">
	<h1>Les Articles</h1>
	<hr>
	<a href="/addNewArticle/"><button type="button" class="btn btn-primary">Veuillez cliquer ici pour ajouter un nouvel Article</button></a>
	<hr>
	{% for article in liste_des_articles %}
	    <div class="article">
	        <h3>Titre de l'article : {{ article.titre }}</h3>
	        <p>Auteur de l'article : {{ article.auteur }}</p>
	        <p>Date de parution : {{ article.date }}</p>
	        <p class="P_article"> Contenu de l'article :</p> 
	        <div class="contenuArticle">
	        	<p>{{ article.contenu|truncatewords_html:80 }}</p>
	        	<div align="center">
		        	<p><a href="{% url "monblog.views.lireUnArticle" article.id %}" class="btn btn-success">Lire la suite</a>
		        </div>
	        </div>

	        <div class="commentaires">
			    {% if user_is_logged %}
				    <p> Les commentaires de cet articles sont :</p>
				    <form action="{% url "monblog.views.articles"%}" method="post">
					    {% csrf_token %}
					    {{ form.as_p }}
					    <input type="hidden" name="article_id" value="{{ article.id }}">
					    <input type="submit" value="Commenter" class="btn btn-primary"/>
					</form>
				{% else %}
					<p id="unknownUser">Vous devez être connecté pour pouvoir commenter un article !</p>
				{% endif %}

				{% for comment in article.commentaire_set.all %}
			        <p id="auteur">Auteur : {{ comment.auteurDuCommentaire }} | {{ comment.dateCommentaire }}</p>
			        <div class="contenuCommentaire"><p>Commentaire : {{ comment.texteDuCommentaire }}</p></div>
				{% empty %}
					<p>Aucun commentaire.</p>
				{% endfor %}
			</div>
		</div>				
	{% empty %}
	    <p>Aucun article.</p>
	{% endfor %}
</div>
{% endblock content %}
