{% extends "base.html" %}

{% block title %} Page De Contact {% endblock title %}

{% block content %}
 <div class="centered">
 	<h3>Page D'Inscription</h3>
	<hr>
	{% if error %}
	<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
	{% endif %}
	{% if user.is_authenticated %}
		Bonjour, {{ user.username }} ! Vous êtes connecté.
	{% else %}

	<form action="{% url 'inscription' %}" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Se connecter" class="btn btn-primary"/>
	</form>
	{% endif %}
</div>
{% endblock content %}